@media (max-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .botones-accion {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 900px) {
  main.contenedor-principal {
    grid-template-columns: 1fr;
  }
}
