.dropdown-toggle {
  background: transparent;
  border: none;
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 0;
  font-weight: 500;
}

.dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-toggle::-moz-focus-inner {
  border: 0;
}

.dropdown-opciones {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background: white;
  border-radius: 12px;
  margin-top: 0.3rem;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
  z-index: 20;
  padding: 0.8rem 0;
  min-width: 240px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.dropdown-opciones.abierto {
  display: block;
}

.dropdown-opciones li {
  padding: 1rem 1.4rem;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  border-radius: 10px;
  border-bottom: 1px solid #f3f3f3;
  transition: background 0.2s ease;
}

.dropdown-opciones li:hover {
  background-color: #fff3ec;
  color: var(--color-primario);
}

/* === SCROLL EN DROPDOWN === */
.dropdown-opciones::-webkit-scrollbar {
  width: 10px;
}

.dropdown-opciones::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 12px;
}

.dropdown-opciones::-webkit-scrollbar-thumb {
  background-color: var(--color-primario);
  border-radius: 12px;
  border: 2px solid #fff;
  min-height: 80px;
  cursor: pointer;
}

.dropdown-opciones::-webkit-scrollbar-thumb:hover {
  background-color: #ff814d;
}
