/* === CONTENEDOR DE CARDS === */
.contenedor-cards {
  background-color: #f6f6f7;
  border-radius: 20px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  overflow-x: hidden;
  padding: 3rem 1rem 2rem;
  width: 100%;
}
